:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  /* Semi-transparent background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#loading-background {
  background-image: url('./undercover.png');
  /* Specify the path to your background image */
  background-size: cover;
  /* Fit the image perfectly */
  background-repeat: no-repeat;
  /* Prevent repeating the image */
  background-position: center;
  /* Center the image within the element */
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.6;
}


#loading-content {
  text-align: center;
  color: #ffffff;
  /* Text color */
  z-index: 1;
  /* Ensure it's above the background */
}

#loading-progress {
  width: 80%;
  /* Adjust the width of the progress container */
  margin: 20px auto;
  /* Center the progress bar horizontally */
  background-color: rgba(255, 255, 255, 0.2);
  /* Progress container background */
  border-radius: 4px;
  /* Rounded corners */
  height: 20px;
  /* Height of the progress container */
}

#loading-progress-bar {
  height: 100%;
  /* Height of the progress bar */
  width: 0;
  /* Initial width is 0% */
  background-color: #007bff;
  /* Color of the progress bar */
  border-radius: 4px;
  /* Rounded corners */
}

#textEditor {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  /* Ensure it's on top of the canvas */
  display: none;
}

#aboveText {
  font-size: 14px;
  top: 10px;
  left: 10px;
  color: #333;
  margin-bottom: 10px;
  /* Adjust the spacing as needed */
}

#inventory {
  position: fixed;
  background-color: rgba(110, 127, 128, 0.12);
  height: 550px;
  width: 120px;
  margin: 25px;
  padding: 10px;
  overflow-x: clip;
  overflow-y: auto;
}

.inv-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 100px;
  width: 100px;
  opacity: 1;
  border: 1px solid #213547;
  object-fit: contain;
}

.inv-item:hover {
  border-color: #007bff;
}

.inv-item:focus {
  border-color: #007bff;
}

#inventory::-webkit-scrollbar {
  width: 12px;
}

#inventory::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3)
}

#inventory::-webkit-scrollbar-thumb {
  background: #999;
}

#inventory::-webkit-scrollbar-thumb:hover {
  background: #777;
}

#inventory::-webkit-scrollbar-button {
  display: none;
}

#gameover {
  position: fixed;
  font-size: 200px;
  color: #42b14d;
}